<%= form_with(model: @task, local: true) do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= @task.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
<div class="wrapper">
  <div class="task_title">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div class="task_content">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <div class="task_time">
     <%= form.label :end_time %>
     <%= form.date_field :end_time, prompt: { day: '日', month: '月',hour: '時', mitnte: '分' } %>
    </div>
  <div>
    <td><%= form.label :status %></td>
    <td><%= form.select :status, Task.statuses.keys, { include_blank: '選択してください'}%></td>
  </div>
  <div>
    <td><%= form.label :priority %></td>
    <td><%= form.select :priority, Task.priorities.keys, { include_blank: '選択してください' } %></td>
  </div>
  <%= form.submit %>
<% end %>

<%= link_to "タスク一覧画面へ", tasks_path %>
</div>
