<h1>一覧</h1>
<table>
  <tr>
    <th>タイトル</th>
    <th>内容</th>
  </tr>
  <div class="notice">
    <%= flash[:notice] %>
  </div>

<% @tasks.each do |task| %>

  <tr>
    <td><%= task.title %></td>
    <td><%= task.content %></td>
    <td><%= link_to 'show', task_path(task.id) %></td>
    <td><%= link_to 'edit', edit_task_path(task.id) %></td>
    <td><%= link_to 'deleat', task_path(task.id), method: :delete ,data: { confirm: 'OK?'} %></td>

  </tr>

<% end%>

  </table>

  <%= link_to 'タスク作成', new_task_path %>