<%= form_with(model: @user, url: admin_user_path, local: true) do |form| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= @user.errors.count %>件のエラーがあります。</h2>
        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="user_name">
      <%= form.label :名前 %>
      <%= form.text_field :name %>
    </div>
    <div class="user_email">
      <%= form.label :メールアドレス %>
      <%= form.text_field :email %>
    </div>
    <div class="user_email">
      <%= form.label :管理者権限%>
      <%= form.select :admin, [["一般ユーザー","false"],["管理者ユーザー","true"]] %>
    </div>
    <div class="user_password">
      <%= form.label :パスワード %>
      <%= form.text_field :password %>
    </div>
    <div class="user_password_confirmation">
      <%= form.label :確認用パスワード %>
      <%= form.text_field :password_confirmation%>
    </div>
    <%= form.submit "登録" %>
  <% end %>